################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TSListCreator/bin/Debug/net6.0
/.vs
/.idea/.idea.TSListCreator/.idea
/TSListCreator/obj
