################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TSListCreator/bin/Debug/net6.0
/.vs
/.idea/.idea.TSListCreator/.idea
/TSListCreator/obj
/TSListCreator/bin
/TSListCreator.Tests/bin/Debug/net8.0
/TSListCreator.Tests/obj
/TSListCreator.sln.DotSettings.user
